cf/rounds/*
*/bin/*
*/build/*
*/tmp/*
*.bak
*.txt
*.svg
**/*.in
*.in
*.png
*.out
adventofcode/*
adventofcode/*.in
adventofcode/*.test.in
*.out
*.swp
*.swo
books/

# Staging areas for WIP problems
adventofcode/staging/
cf/staging/

